<div id="login_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">User access</h4>
      </div>
      <div class="modal-body">
        {% include "auth/login_form.html" %}
      </div>
      <div class="modal-footer">
        <button id="btnModalLoginClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnModalLoginLogin" type="button" class="btn btn-primary">Login</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->