<div id="loginErrMsg" class="{% if errMsg %}alert alert-danger{% endif %}" role="danger">{% if errMsg %}{{ errMsg }}{% endif %}</div>
<form method="post">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input type="password" name="password" class="form-control" id="username" placeholder="Password">
        </div>
    </div>
    {% if login_page %}
    <input type="submit" class="btn btn-default" value="Login" />
    {% else %}
    <input type="hidden" name="selection-group-type-chart" value="" />
    {% endif %}
</form>