{% extends "main.html" %}
{% block title %}Error{% endblock %}
{% block body %}
  <h1>Error</h1>
  <div>
  {% if errMsg %}
    {{ errMsg }}
  {% else %}
    Some errors occured, if the problems persist, please call system administrator.
  {% endif %}
  </div>
{% endblock %}