{% extends "main.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
<!-- 	<form method="post" action="/" role="form"> -->
		<div class="col-lg-4">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#mode_default" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span> Default</a></li>
			  <li><a href="#mode_custom" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-hand-down"></span> Custom</a></li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="mode_default">
<!-- 				<div id="selection-main-component" class="panel panel-default"> -->
<!-- 				  <div class="panel-heading">Selection main component</div> -->
<!-- 				  <div class="panel-body"> -->
				   <input type="hidden" name="mode_chart" value="default" />
				   <input type="hidden" id="idChartType" name="idCharType" value="" />
				   <input type="hidden" id="isMultiGroupChart" name="isMultiGroupChart" value="" />
				   <div class="form-group">
					    <label class="control-label" for="selection-group-type-chart">Select group chart type:</label>
					  	<select id="selection-group-type-chart" class="form-control" name="group_type_chart">
					  		<option value="#">Select groupchart type</option>
					      	{% for group in groupsChart -%}
							    <option value="{{group[0]}}">{{group[1]}}</option>
							{%- endfor %}					  
						</select>
					</div>
				 	<div class="form-group">
						<label class="control-label" for="selection-number-chart">Select table:</label>
                        <div id="selection-number-chart-magic"></div>
					  	<!--<select id="selection-number-chart" class="form-control"  disabled name="number_chart">-->
						</select>
					</div>
					
					<div class="form-group">
				 		<label class="control-label" for="id_raggr">Id raggr. :</label>
                        <div id="id_raggr-magic"></div>
						<span class="help-block">Press and hold CTRL key for select more groups</span>
						<button class="select-all btn btn-default btn-xs">Select ALL</button>
						<button	class="unselect-all btn btn-default btn-xs">Unselect ALL</button>
					</div>
					
					<div class="form-group">
				 		<label class="control-label" for="sub_group">Sub Groups :</label>
                        <div id="sub_group-magic"></div>
						<span class="help-block">Press and hold CTRL key for select more groups</span>
						<button class="select-all btn btn-default btn-xs">Select ALL</button>
						<button class="unselect-all btn btn-default btn-xs">Unselect ALL</button>
					</div>
					 
<!-- 				  </div> -->
<!-- 				</div> -->
			</div>
			<div class="tab-pane" id="mode_custom">
				<div class="form-group">
				 	<label class="control-label" for="selection-x-col">Column X:</label>
					<select id="selection-x-col" class="form-control" name="x_col">
					  <option value="">--</option>
					</select>
				</div>
			 	<div class="form-group">
				 	<label class="control-label" for="selection-y-col">Column Y:</label>
					<select id="selection-y-col" class="form-control" name="y_col">
					  <option value="">--</option>
					</select>
				</div>
			</div>
			</div> <!-- close tab-content -->
		</div>
		<div  class="col-lg-8">
			<div class="row">
			<div class="col-lg-12">
<!-- 				<ul class="nav nav-tabs" role="tablist"> -->
<!-- 				  <li class="active"><a href="#chart_opts_general" role="tab" data-toggle="tab">General</a></li> -->
<!-- 				  <li><a href="#chart_opts_x" role="tab" data-toggle="tab">X</a></li> -->
<!-- 				  <li><a href="#chart_opts_y" role="tab" data-toggle="tab">Y</a></li> -->
<!-- 				</ul> -->
<!-- 				<div class="tab-content"> -->
					<div class="row">
<!-- 					<div class="tab-pane active" id="chart_opts_general"> -->
					<div class="col-lg-4">
						<div class="panel panel-info">
							<div class="panel-heading"><strong>General</strong></div>
							<div class="panel-body">
								<div class="form-group">
							 		<label class="control-label" for="chart_width">Chart width:</label>
							 		<div class="input-group">
							 			<input type="text"  class="form-control"  id="chrat_width" name="chart_width" value="{{defaults.CHART_WIDTH_PX}}" />
							 			<span class="input-group-addon">px</span>
							 		</div>
									
								</div>
								
								<div class="form-group">
							 		<label class="control-label" for="chart_height">Chart height:</label>
							 		<div class="input-group">
							 			<input type="text"   class="form-control"  id="chart_height" name="chart_height" value="{{defaults.CHART_HEIGHT_PX}}" />
							 			<span class="input-group-addon">px</span>
							 		</div>
								</div>

                                <div class="form-group">
							 		<label class="control-label" for="line_width">Line width:</label>
							 		<div class="input-group">
							 			<input type="text"   class="form-control"  id="line_width" name="line_width" value="{{defaults.LINE_WIDTH}}" />
							 			<span class="input-group-addon">pt</span>
							 		</div>
								</div>
																
								<div class="checkbox">
							 		<label class="control-label" for="show_points">
										<input type="checkbox" id="show_points" name="show_points" value="1" /> Show Points
									</label>
								</div>
                                <div class="checkbox">
							 		<label class="control-label" for="show_grid">
										<input type="checkbox" id="show_grid" name="show_grid" value="1" checked="checked" /> Show Grid
									</label>
								</div>
							</div>
						</div>
					</div>
<!-- 					<div class="tab-pane" id="chart_opts_x"> -->
					<div class="col-lg-4">
						<div class="panel panel-warning">
							<div class="panel-heading"><strong>Axis X</strong></div>
							<div class="panel-body">
								<div class="form-group">
							 		<label class="control-label" for="x_min">x min:</label>
									<input type="text" class="form-control" id="x_min" name="x_min" value="" />
								</div>
								
								<div class="form-group">
							 		<label class="control-label" for="x_max">x max:</label>
									<input type="text"  class="form-control" id="x_max" name="x_max" value="" />
								</div>
								
								<div class="form-group">	
							 		<label class="control-label" for="x_ticks">n. Ticks:</label>
						 			<input type="text"   class="form-control"  id="x_ticks" name="x_ticks" value="{{defaults.X_N_TICKS}}" />
								</div>

								<div class="form-group">
							 		<label class="control-label" for="x_rotation_ticks">Rotation Ticks:</label>
									<div class="input-group">
						 				<input type="text" class="form-control"  id="x_rotation_ticks" name="x_rotation_ticks" value="{{defaults.X_ROTATION_TICKS}}" />
										<span class="input-group-addon">°</span>
									</div>
								</div>
								
								<div class="checkbox">
							 		<label class="control-label" for="logaritmic_scale_x">
										<input type="checkbox" id="logaritmic_scale_x" name="logaritmic_scale_x" value="1" />Logaritmic scale x
									</label>
								</div>
								
								<div class="checkbox">
							 		<label class="control-label" for="invert_x">
										<input type="checkbox" id="invert_x" name="invert_x" value="1" />Invert X axis
									</label>
								</div>
							</div>
						</div>
					</div>
<!-- 					<div class="tab-pane" id="chart_opts_y"> -->
					<div class="col-lg-4">
						<div class="panel panel-warning">
							<div class="panel-heading"><strong>Axis Y</strong></div>
							<div class="panel-body">
								<div class="form-group">
							 		<label for="y_min">y min:</label>
									<input type="text"  class="form-control"  id="y_min" name="y_min" value="" />
								</div>
								
								<div class="form-group">
							 		<label class="control-label" for="y_max">y max:</label>
									<input type="text"  class="form-control"  id="y_max" name="y_max" value="" />
								</div>
								
								<div class="form-group">	
							 		<label class="control-label" for="y_ticks">n. Ticks:</label>
						 			<input type="text"   class="form-control"  id="y_ticks" name="y_ticks" value="{{defaults.X_N_TICKS}}" />
								</div>
								
								<div class="checkbox">
							 		<label class="control-label" for="logaritmic_scale_y">
										<input type="checkbox" id="logaritmic_scale_y" name="logaritmic_scale_y" value="1" /> Logaritmic scale y
									</label>
								</div>
								
								<div class="checkbox">
							 		<label class="control-label" for="invert_y">
										<input type="checkbox" id="invert_y" name="invert_y" value="1" />Invert Y axis
									</label>
								</div>
							</div>
						</div>
					</div>
					</div> <!-- close row -->
<!-- 				</div> close tab-content -->
					
			</div> <!-- close col-12 -->
			</div>	<!-- close row  -->
			<div class="row">
				<div class="col-lg-12">
					<button id="bt-generate-chart" class="btn btn-primary"><span class="fa fa-refresh "></span> Generate graph</button>
					<button id="bt-download-chart" class="btn btn-info disabled"><span class="glyphicon glyphicon-download"></span> Download graph</button>
					
					<div id="img-chart-container">
						<img id="image-chart" alt="Plot" src="{{ url_for('static', filename='img/chart_img_demo.png') }}" ">
					</div>
				</div>
			</div>
	</div> <!-- close col-9 right column -->
<!-- 	</form> -->
	
	</div>
</div> <!-- close container-fluid -->





{% endblock %}