{% extends "main.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading"><b>Access</b></div>
              <div class="panel-body">
                  {% include "auth/login_form.html" %}
              </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}