<!doctype html>
<title>ARPAPCHART application for build graph</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"> -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/magicsuggest-min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/magicsuggest-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/arpapchart.js') }}"></script>
{% if py2jsdata %}
<script>
AC.urlrootpath = '{{ py2jsdata.urlrootpath}}'
</script>
{% endif %}
<body role="document">
<nav class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
  <a class="navbar-brand" href="/{% if py2jsdata %}{{py2jsdata.urlrootpath}}{% endif %}"><img src="{{ url_for('static', filename='img/logo.png') }}"> ARPAPCHART v {{ version }} application for build graph</a>
  <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
            <li id="nav_login"><a href="/{{ urlRoot }}logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            <li id="nav_logout" class="hidden"><a href="/{{ urlRoot }}login"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
        {% else %}
            <li id="nav_login" class="hidden"><a href="/{{ urlRoot }}logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            <li id="nav_logout"><a href="/{{ urlRoot }}login"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
        {% endif %}
		<li><a href="/{{ urlRoot }}credits">Credits</a></li>
 </ul>
</div>
</nav>
<div class="page-header container-fluid">
	<div id="messages"></div>
</div>
  {% block body %}{% endblock %}
  {% include "auth/login_modal.html" %}
</body>